/* General styles for the chat container */
.my-custom-container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    overflow: hidden;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    margin: auto;
    height: 80vh; /* Adjust the height as needed */
    max-height: 100%; /* Ensure the container doesn't exceed the viewport height */
}

/* Ensures the messages container is scrollable */
.my-custom-messages {
    flex-grow: 1;
    overflow-y: auto;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

/* Styles for the message input area */
.my-custom-message-input {
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: #fff;
    border-top: 1px solid #ddd;
}

/* Styles for the message input text area */
.my-custom-message-text {
    flex-grow: 1;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 20px;
    margin-right: 10px;
    outline: none;
    resize: none;
    height: 40px; /* Adjust the height as needed */
}

/* Styles for the send button */
.my-custom-send-button {
    padding: 10px 20px;
    border: none;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    outline: none;
    border-radius: 20px;
}

.my-custom-send-button:hover {
    background-color: #0056b3;
}

/* Styles for the messages */
.message {
    border-radius: 10px;
    margin: 10px 0;
    padding: 10px 15px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    position: relative;
    max-width: 75%; /* Max width for both sent and received messages */
}

.message.sent {
    align-self: flex-end;
    background-color: #dcf8c6;
    margin-left: 25%;
}

.message.received {
    align-self: flex-start;
    background-color: #ffffff;
    margin-right: 25%;
}

.message::after {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
}

.message.received::after {
    border-width: 10px 10px 10px 0;
    border-color: transparent #ffffff transparent transparent;
    left: -10px;
    top: 10px;
}

.message.sent::after {
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent #dcf8c6;
    right: -10px;
    top: 10px;
}

.time {
    display: block;
    font-size: 0.75em;
    color: #888;
    margin-top: 5px;
}
